{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}DDI Dashboard{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            width: 100%;
            margin: 0;
        }
        h1 {
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 4px;
        }
        th {
            height: 30px;
            font-size: small;
            cursor: pointer;
        }
        .expand-btn {
            cursor: pointer;
            font-weight: bold;
        }
        .hidden {
            display: none;
        }
    </style>
    <script>
        function toggleRow(rowId, toggleId) {
            var row = document.getElementById(rowId);
            var expandBtn = document.getElementById(toggleId);
            if (row.classList.contains('hidden')) {
                row.classList.remove('hidden'); // Show the row
                expandBtn.innerHTML = '-';      // Update the button to "-"
            } else {
                row.classList.add('hidden');    // Hide the row
                expandBtn.innerHTML = '+';      // Update the button to "+"
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>DDI Dashboard</h1>
        <br>
        <table>
            <thead class="table-success text-center" style="position: sticky; top: 0; z-index: 1000;">
                <tr>
                    <th rowspan="2">+/-</th>
                    <th rowspan="2"># Related</th>
                    <th rowspan="2">ID</th>
                    <th rowspan="2">Deal</th>
                    <th rowspan="2">Client Account</th>
                    <th rowspan="2">Solution GTM</th>
                    <th rowspan="2">Start</th>
                    <th rowspan="2">Months</th>
                    <th colspan="2" class="sub-header">SIT</th>
                    <th colspan="2" class="sub-header">UAT</th>
                    <th rowspan="2">Go Live</th>
                    <th rowspan="2">Cur Phase</th>
                </tr>
                <tr>
                    <th class="table-primary">Start</th>
                    <th class="table-primary">% Cmpl</th>
                    <th class="table-primary">Start</th>
                    <th class="table-primary">% Cmpl</th>
                </tr>
            </thead>
            <tbody>
                {% for initiative in initiatives %}
                <tr>
                    <td class="expand-btn text-center" id="expand-btn-initiative-{{ initiative.id }}" onclick="toggleRow('changerequests-{{ initiative.id }}', 'expand-btn-initiative-{{ initiative.id }}')">
                        {% if initiative.change_requests.all %}
                            +
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if initiative.change_requests.all %}
                        <span class="badge text-bg-light">{{ initiative.change_requests.count }}</span>
                        {% else %}
                        {% endif %}
                    </td>
                    <td class="text-center"><span class="badge text-bg-light">
                        <a href="https://dev.azure.com/PayerPortfolio/MES%20(Portfolio)/_workitems/edit/{{ initiative.id }}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank">{{ initiative.id }}</a>
                    </span></td>
                    <td class="text-left"><span class="badge text-bg-light">{{ initiative.title }}</span></td>
                    <td class="text-center"><span class="badge text-bg-light">{{ initiative.clientaccounts }}</span></td>
                    <td class="text-left"><span class="badge text-bg-light">{{ initiative.solutiongotomarket }}</span></td>
                    <td class="text-center"><span class="badge text-bg-light">{{ initiative.start|date:"m/d/y"|default:"" }}</span></td>
                    <td class="text-center"><span class="badge text-bg-light">{{ initiative.months|default:""  }}</span></td>
                    <td class="text-center"><span class="badge text-bg-light">{{ initiative.sitstart|date:"m/d/y"|default:""  }}</span></td>
                    <td>{% if initiative.sitcmpl %}
                        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="{{ initiative.sitcmpl }}%" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ initiative.sitcmpl }}%">{{ initiative.sitcmpl }}%</div>
                        </div>
                        {% endif %}
                    </td>
                    <td><span class="badge text-bg-light">{{ initiative.uatstart|date:"m/d/y"|default:""  }}</span></td>
                    <td>{% if initiative.uatcmpl %}
                        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="{{ initiative.uatcmpl }}%" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ initiative.uatcmpl }}%">{{ initiative.uatcmpl }}%</div>
                        </div>
                        {% endif %}
                    </td>
                    <td class="text-center"><span class="badge text-bg-light">{{ initiative.golivedate|date:"m/d/y"|default:""   }}</span></td>
                    <td class="text-center"><span class="badge text-bg-light">{{ initiative.currentphase }}</span></td>
                </tr>
                {% if initiative.change_requests.all %}
                <tr id="changerequests-{{ initiative.id }}" class="hidden">
                    <td colspan="14">
                        <table>
                            <thead style="position: sticky; top: 0; z-index: 1000" class="table-danger text-center">
                                <tr>
                                    <th>+/-</th>
                                    <th># Assoicated</th>
                                    <th>ID</th>
                                    <th>Type</th>
                                    <th>Title</th>
                                    <th>State</th>
                                    <th>Submitted</th>
                                    <th>Required By</th>
                                    <th>Target</th>
                                    <th>HL Estimate</th>
                                    <th>Contract ID #</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for change_request in initiative.change_requests.all|orderby:'tt_workdescription' %}
                                <tr>
                                    <td class="expand-btn text-center" id="expand-btn-cr-{{ change_request.id }}" onclick="toggleRow('features-{{ change_request.id }}', 'expand-btn-cr-{{ change_request.id }}')">
                                        {% if change_request.features.all %}
                                            +
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if change_request.features.all %}
                                        <span class="badge text-bg-light">{{ change_request.features.count }}</span>
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    <td class="text-center"><span class="badge text-bg-light">
                                        <a href="https://dev.azure.com/PayerPortfolio/USHC_AMER_US_ADU_HSP_Ua3/_workitems/edit/{{ change_request.id }}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank">{{ change_request.id }}</a>
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <span class="badge
                                            {% if change_request.workitemtype == 'Change Request' %}text-bg-danger
                                            {% elif change_request.workitemtype == 'GAP' %}text-bg-primary
                                            {% else %}text-bg-light
                                            {% endif %}
                                            ">{{ change_request.workitemtype }}
                                        </span>
                                    </td>
                                    <td><span class="badge text-bg-light">{{ change_request.title }}</span></td>
                                    <td class="text-center">
                                        <span class="badge
                                            {% if change_request.state == 'Funnel' %}text-bg-secondary
                                            {% elif change_request.state == 'Reviewing' %}text-bg-secondary
                                            {% elif change_request.state == 'Analyzing' %}text-bg-secondary
                                            {% elif change_request.state == 'Backlog' %}text-bg-info
                                            {% elif change_request.state == 'Committed' %}text-bg-info
                                            {% elif change_request.state == 'In Progress' %}text-bg-warning
                                            {% elif change_request.state == 'BLOCKED' %}text-bg-danger
                                            {% elif change_request.state == 'Done' %}text-bg-primary
                                            {% else %}text-bg-light
                                            {% endif %}
                                            ">{{ change_request.state }}
                                        </span>
                                    </td>
                                    <td class="text-center"><span class="badge text-bg-light">{{ change_request.createddate|date:"m/d/y"|default:""  }}</span></td>
                                    <td class="text-center"><span class="badge text-bg-light">{{ change_request.requiredbydate|date:"m/d/y"|default:""  }}</span></td>
                                    <td class="text-center"><span class="badge text-bg-light">{{ change_request.targetdate|date:"m/d/y"|default:""  }}</span></td>
                                    <td class="text-center"><span class="badge text-bg-light">{{ change_request.highlevelestimate|floatformat:0 }}</span></td>
                                    <td class="text-center"><span class="badge text-bg-light">{{ change_request.tt_workdescription}}</span></td>
                                </tr>
                                {% if change_request.features.all %}
                                <tr id="features-{{ change_request.id }}" class="hidden">
                                    <td colspan="14">
                                        <table>
                                            <thead style="position: sticky; top: 0; z-index: 1000" class="table-info text-center">
                                                <tr>
                                                    <th>+/-</th>
                                                    <th># Children</th>
                                                    <th>Contract ID</th>
                                                    <th>ID</th>
                                                    <th>Feature Title</th>
                                                    <th>State</th>
                                                    <th>Module</th>
                                                    <th>Start Date</th>
                                                    <th>Target Date</th>
                                                    <th>HL Estimate</th>
                                                    <th>Iteration Path</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for feature in change_request.features.all %}
                                                <tr>
                                                    <td class="expand-btn text-center" id="expand-btn-feature-{{ feature.id }}" onclick="toggleRow('userstories-{{ feature.id }}', 'expand-btn-feature-{{ feature.id }}')">
                                                        {% if feature.user_stories.all %}
                                                            +
                                                        {% else %}
                                                            &nbsp;
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-center">
                                                        {% if feature.user_stories.all %}
                                                            <span class="badge text-bg-light">{{ feature.user_stories.count }}
                                                            </span>
                                                        {% else %}
                                                        {% endif %}
                                                    </td>
                                                    <td><span class="badge text-bg-light">{{ feature.tt_workdescription }}</span></td>
                                                    <td class="text-center"><span class="badge text-bg-light">
                                                        <a href="https://dev.azure.com/PayerPortfolio/USHC_AMER_US_ADU_HSP_Ua3/_workitems/edit/{{ feature.id }}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank">{{ feature.id }}</a>
                                                        </span>
                                                    </td>
                                                    <td><span class="badge text-bg-light">{{ feature.title }}</span></td>
                                                    <td class="text-center">
                                                        <span class="badge
                                                            {% if feature.state == 'Funnel' %}text-bg-secondary
                                                            {% elif feature.state == 'Reviewing' %}text-bg-secondary
                                                            {% elif feature.state == 'Analyzing' %}text-bg-secondary
                                                            {% elif feature.state == 'Backlog' %}text-bg-info
                                                            {% elif feature.state == 'Committed' %}text-bg-info
                                                            {% elif feature.state == 'In Progress' %}text-bg-warning
                                                            {% elif feature.state == 'BLOCKED' %}text-bg-danger
                                                            {% elif feature.state == 'Done' %}text-bg-primary
                                                            {% else %}text-bg-light
                                                            {% endif %}
                                                            ">{{ feature.state }}
                                                        </span>
                                                    </td>
                                                    <td class="text-center"><span class="badge text-bg-light">{{ feature.tt_initiative }}</span></td>
                                                    <td class="text-center"><span class="badge text-bg-light">{{ feature.startdate|date:"m/d/y"|default:"" }}</span></td>
                                                    <td class="text-center"><span class="badge text-bg-light">{{ feature.targetdate|date:"m/d/y"|default:"" }}</span></td>
                                                    <td class="text-center"><span class="badge text-bg-light">{{ feature.highlevelestimate|floatformat:0  }}</span></td>
                                                    <td class="text-left"><span class="badge text-bg-light">{{ feature.iterationpath }}</span></td>
                                                </tr>
                                                {% if feature.user_stories.all %}
                                                <tr id="userstories-{{ feature.id }}" class="hidden">
                                                    <td colspan="14">
                                                        <table>
                                                            <thead style="position: sticky; top: 0; z-index: 1000" class="table-warning text-center">
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>User Story Title</th>
                                                                    <th>State</th>
                                                                    <th>Story Points</th>
                                                                    <th>Iteration Path</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for user_story in feature.user_stories.all %}
                                                                <tr>
                                                                    <td class="text-center"><span class="badge text-bg-light">
                                                                        <a href="https://dev.azure.com/PayerPortfolio/USHC_AMER_US_ADU_HSP_Ua3/_workitems/edit/{{ user_story.id }}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank">{{ user_story.id }}</a>
                                                                        </span>
                                                                    </td>
                                                                    <td><span class="badge text-bg-light">{{ user_story.title }}</span></td>
                                                                    <td class="text-center">
                                                                        <span class="badge
                                                                            {% if user_story.state == 'New' %}text-bg-secondary
                                                                            {% elif user_story.state == 'Backlog' %}text-bg-info
                                                                            {% elif user_story.state == 'Ready' %}text-bg-info
                                                                            {% elif user_story.state == 'In Progress' %}text-bg-warning
                                                                            {% elif user_story.state == 'Test' %}text-bg-info
                                                                            {% elif user_story.state == 'BLOCKED' %}text-bg-danger
                                                                            {% elif user_story.state == 'Done' %}text-bg-primary
                                                                            {% else %}text-bg-light
                                                                            {% endif %}
                                                                            ">{{ user_story.state }}
                                                                        </span>
                                                                    </td>
                                                                    <td class="text-center"><span class="badge text-bg-light">{{ user_story.storypoints|floatformat:0  }}</span></td>
                                                                    <td class="text-left"><span class="badge text-bg-light">{{ user_story.iterationpath }}</span></td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <div class="container" style="text-align: center; padding: 10px;">
            <span class="badge text-bg-primary">Last Refreshed: </span>
            <span class="badge text-bg-secondary" style="margin-left: 5px;">{{ last_refreshed.title }} EST</span>
        </div>
    </div>
</body>
{% endblock %}