{% extends 'base.html' %}
{% block title %}GAP Charts{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAP Charts</title>
</head>
<ul class="nav nav-tabs d-print-none mb-3">
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'dashboard' %}active{% endif %}" href="{% url 'gapdashboard' %}">
            <b>GAP Dashboard</b>
            <span class="badge bg-warning"style="color: black">
                <i class="bi bi-clipboard-data"></i>
            </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'charts' %}active{% endif %}" href="{% url 'gapcharts' %}">
            <span class="badge bg-primary">
                <i class="bi bi-bar-chart"></i>
            </span>
            <span style="color: #007bff; font-weight: 250;">GAP Charts</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'gap_export_excel' %}" title="Export All Items to Excel">
            <span class="badge bg-success" style="color: white">
                <i class="bi bi-file-earmark-excel"></i>
            </span>
            <span style="color: black; font-weight: 250;">Export to Excel</span>
        </a>
    </li>
</ul>
<div class="text-center">
    <h4>GAP Charts</h4>
</div>
<br>
<br>
<div style="display: flex; gap: 30px;">
    <div style="flex: 1;">
        <span class="badge bg-primary fs-5 fw-bold mb-2" style="width:100%;display:inline-block;">GAPs by Release</span>
        <canvas id="crsByReleaseChart" width="500" height="300"></canvas>
    </div>
    <div style="flex: 1;">
        <span class="badge bg-success fs-5 fw-bold mb-2" style="width:100%;display:inline-block;">GAPs by Account</span>
        <canvas id="crsByAccountChart" width="500" height="300"></canvas>
    </div>
    <div style="flex: 1;">
        <span class="badge bg-danger fs-5 fw-bold mb-2" style="width:100%;display:inline-block;">GAPs by Status</span>
        <canvas id="crsByStatusChart" width="500" height="300"></canvas>
    </div>
</div>
<br>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
function makeBarChart(canvasId, labels, data, color) {
    var ctx = document.getElementById(canvasId).getContext('2d');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '',
                data: data,
                backgroundColor: color,
                borderColor: color,
                borderWidth: 1
            }]
        },
        options: {
            plugins: { legend: { display: false }},
            scales: { y: { beginAtZero: true } }
        }
    });
}
//bg-info: #17a2b8 (or in v5, #0dcaf0)
//bg-danger: #dc3545
//bg-secondary:#6c757d
//bg-success: #198754
//bg-warning: #ffc107
//bg-primary: #0d6efd-->
makeBarChart(
    'crsByReleaseChart',
    {{ release_labels|safe }},
    {{ release_data|safe }},
    '#ffc107'
);
makeBarChart(
    'crsByAccountChart',
    {{ account_labels|safe }},
    {{ account_data|safe }},
    '#6c757d'
);
makeBarChart(
    'crsByStatusChart',
    {{ status_labels|safe }},
    {{ status_data|safe }},
    '#ffc107'
);
</script>
{% endblock %}